<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!inactive" [disabled]="inactive" (mouseover)="inactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (mouseover)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (mouseover)="copperInactive = true">Copper</button> <hr>
   <button (click)="inactive = false; silverInactive = false; copperInactive = false">Activate/Deactivate Buttons</button>
</div>